<div class="product-container">
    <div class="product-list row flex-grow-1 overflow-auto">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4" *ngFor="let i of productList">
            <div class="card product-card shadow-lg border-0">
                <div class="product-image-container">
                    <img 
                        [src]="i.Original_Image ? i.Original_Image : 'assets/default-product.png'" 
                        class="card-img-top product-img"
                        alt="Product Image">
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title text-truncate">{{ i.nameOfProduct }}</h5>
                    <p class="price-tag"><strong>MRP:</strong> <b>₹{{ i.priceOfProduct }}</b></p>
                    <p class="text-muted mb-3"><strong>Only Left:</strong> {{ i.availableQuantity }}</p>

                    <div class="row">
                        <div class="col-6"><button class="btn btn-outline-success w-100 edit-btn" [routerLink]="['/UserLayout/getProductByIdUser',i.idOfProduct]"><i class="fas fa-shopping-cart"></i> CART</button></div>
                        <div class="col-6"><button class="btn btn-outline-danger w-100 edit-btn"><i class="fas fa-heart"></i> WISHLIST</button></div>
                            
                    </div> 
               </div>
            </div>
        </div>
    </div>
</div>
