 <!--search user by name component start here-->
 <div class="container-fluid" *ngIf="data && data.length > 0">
    <div class="row justify-content-center mt-5">
        <div class="col-12 col-sm-11 col-md-10 col-lg-8 bg-primary">
            <table class="table table-responsive shadow-lg w-100" style="border:3px solid black;">
                <thead class="table-dark">
                    <tr >
                        <th class="th text-center" >SI</th>
                        <th class="th text-center" >NAME</th>
                        <th class="th text-center" >ACTION</th>
                    </tr>
                </thead>
                <tbody *ngFor="let i of data;let index = index">
                    <tr>
                        <td class="td text-center">{{index+1}}</td>
                        <td class="td text-center">
                            <h2>{{i.nameOfUser|uppercase}}</h2>
                        </td>
                        <td class="td text-center">
                            <div class="row d-flex justify-content-evenly">
                                <div class="col-6">
                                    <button type="button" class="btn btn-primary btn-lg" [routerLink]="['/admin/getbyid',i.idOfUser]">VIEW</button>
                                </div>
                                <div class="col-6">
                                    <button type="button" class="btn btn-danger btn-lg">DELETE</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>  
<!--search user by name component ends here-->

<!--if no users found STARTS here-->
<div class="container" *ngIf="errorMessage && !data">
    <div class="row d-flex justify-content-center pt-5">
        <div class="col-auto text-center text-danger">
            <h1>{{errorMessage}}</h1>
        </div>
    </div>
</div>
<!--if no users found ENDS here-->