<div class="container d-flex justify-content-center align-items-center min-vh-100 pt-5" *ngIf="productList">
    <div class="row w-100">
        <div class="col-12 col-sm-8 col-md-6 col-lg-4 mx-auto"> 
            <div class="card product-card shadow-lg border-0 text-center">
                <div class="product-image-container">
                    <img 
                        [src]="productList.Original_Image ? productList.Original_Image : 'assets/default-product.png'" 
                        class="card-img-top product-img"
                        alt="Product Image">
                </div>
                <div class="card-body">
                    <h5 class="card-title text-truncate">{{ productList.nameOfProduct }}</h5>
                    <p>{{ productList.descriptionOfProduct }}</p>
                    <p class="price-tag"><strong>MRP:</strong> <b>₹{{ productList.priceOfProduct }}</b></p>
                    <p class="text-muted mb-3"><strong>Only Left:</strong> {{ productList.availableQuantity }}</p>

                    <!--for quantirty stepper-->
                    <div class="d-flex align-items-center justify-content-center mb-3">
                        <label   for ="quant " style="font-weight:bold;">Quantity</label>
                        <button class="butn btn-sm px-3" (click)="decreaseQuantity()"> <i class="fas fa-minus"></i></button>
                        <input type="text" id="quant" class="form-control" [(ngModel)]="quantity" style="width: 50px;" readonly>
                        <button class="butn  btn-sm px-3" (click)="increaseQuantity()">  <i class="fas fa-plus"></i></button>
                    </div>
                    
                    <div class="row">
                        <div class="col-12"><button class="btn btn-outline-success w-100 edit-btn quant mb-2" ><i class="fas fa-shopping-cart"></i> BUY NOW</button></div>
                        <div class="col-6"><button class="btn btn-outline-primary w-100 edit-btn quant" (click)=" AddProductToCart(productList.idOfProduct)"><i class="fas fa-shopping-cart"></i> CART</button></div>
                        <div class="col-6"><button class="btn btn-outline-danger w-100 edit-btn quant" (click)="AddWishList(productList.idOfProduct)"><i class="fas fa-heart"></i> WISHLIST</button></div>                           
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</div>






 