<div class="container-fluid vh-100 p-3">
                
    <div class="row d-flex justify-content-evenly">

        <!--Total Users Card-->
        <div class="col-auto">                           
            <div class="card" style="width: 13rem; height:13rem;background-color: #A9A9A9;">
                <div class="card-body">
                <h3 class="card-title fw-bold text-center bg-dark text-white" style="font-size: 1.8rem;">Total Users <i class="fa-solid fa-users"></i></h3>                               
                <p class="card-text text-center text-dark count" style="background-color: #E0E0E0; ">{{totalUsers}}</p>
                </div>
            </div>
        </div>
         <!--Total Users Card ends-->

         <!--Total Products Card -->
        <div class="col-auto">                           
            <div class="card " style="width: 13rem; height:13rem;background-color: #A9A9A9; ">
                <div class="card-body">
                <h3 class="card-title fw-bold text-center bg-dark text-white " style="font-size: 1.6rem;">Total Products <i class="fa-solid fa-boxes-stacked"></i></h3>                               
                <p class="card-text text-center text-dark count" style="background-color: #E0E0E0;">.</p>
                </div>
            </div>
        </div>
         <!--Total Products Card  ends-->

         <!--Total Orders Card -->
        <div class="col-auto">                           
            <div class="card " style="width: 13rem; height:13rem;background-color: #A9A9A9;">
                <div class="card-body">
                <h3 class="card-title fw-bold text-center bg-dark text-white" style="font-size: 1.6rem;">Total Orders <i class="fa-solid fa-cart-shopping"></i></h3>                               
                <p class="card-text text-center text-dark count" style="background-color: #E0E0E0;">.</p>
                </div>
            </div>
        </div>
         <!--Total Orders Card ends-->

    </div>


</div>

<!--center content cards end-->